@use '../index' as styles;

@layer primitives {
    .btn {
        display: inline-flex;
        gap: var(--size-1);
        vertical-align: top;
        align-items: center;
        justify-content: center;
        text-align: center;
        cursor: pointer;
        border: none;
        user-select: none;
        border-radius: var(--corner-small);
        font-weight: var(--font-weight-bold);
        line-height: var(--lh-heading);
        transition:
            background-color var(--transition-base),
            color var(--transition-base),
            box-shadow var(--transition-base),
            transform var(--transition-base),
            outline-offset var(--transition-fast),
            opacity var(--transition-base);

        &:focus-visible {
            outline: var(--border-width-medium) solid var(--color-tertiary);
            outline-offset: var(--outline-offset);
        }

        &:active {
            transform: scale(0.98);
        }

        &:disabled,
        &.is-disabled {
            pointer-events: none;
        }

        // Sizes
        &--large {
            padding: var(--btn-padding-large);
        }
        &--medium {
            padding: var(--btn-padding-medium);
        }
        &--small {
            padding: var(--btn-padding-small);
        }
        &--icon {
            padding: var(--btn-padding-icon);
        }

        // Styles
        &--outline-on-primary {
            background-color: transparent;
            box-shadow: var(--ring-medium-on-primary);
            color: var(--color-on-primary);
            @include styles.hover {
                background-color: var(--color-surface);
            }

            &:active {
                background-color: var(--color-primary);
            }
        }
        &--primary {
            background-color: var(--color-primary);
            box-shadow: var(--ring-medium-on-primary);
            color: var(--color-on-primary);
            @include styles.hover {
                background-color: var(--color-primary-high);
            }
        }
        &--on-primary {
            background-color: var(--color-on-primary);
            color: var(--color-white);
            @include styles.hover {
                background-color: var(--color-tertiary);
            }

            &:disabled,
            &.is-disabled {
                background-color: var(--color-outline-variant);
                color: var(--color-on-bg);
                opacity: 0.5;
            }
        }

        // Button icon
        svg {
            flex-shrink: 0;
            width: var(--size-3);
            height: var(--size-3);
            transition: color var(--transition-base);
        }
    }
}
