@layer primitives {
    .logo {
        display: inline-flex;
        vertical-align: top;
        align-items: center;
        gap: var(--size-1);
        &__img {
        }
        &__text {
            font-size: var(--fs-headline-medium);
            font-weight: var(--font-weight-bold);
        }

        &--dark {
        }
        &--white {
        }
    }
}
