@use '@/styles/index' as styles;

@layer components {
    .catalog {
        &__controls {
            display: flex;
            flex-wrap: wrap;
            gap: var(--size-2);
            padding-block: var(--size-2);
        }

        &__chip-group {
            flex: 1 1 auto;
        }

        &__sort {
            flex-shrink: 0;
        }

        &__pagination {
            padding-block: var(--size-5);
            @include styles.max-width(styles.$br-md) {
                padding-block: var(--size-4);
            }
            @include styles.max-width(styles.$br-sm) {
                padding-block: var(--size-3);
            }
        }
    }
}
