@use '@/styles/index' as styles;

$threshold-compact: styles.rem(287px);
$threshold-compact-mobile: styles.rem(150px);

@layer components {
    .game-slide {
        container-type: inline-size;
        container-name: game-slide;
        border-radius: var(--game-slide-radius);
        overflow: hidden;
        height: var(--game-slide-height);
        width: var(--size-full);
        display: flex;
        align-items: flex-end;
        box-shadow: var(--ring-medium-on-primary), var(--shadow-level-1);
        position: relative;
        cursor: pointer;
        &__img {
            position: absolute;
            width: var(--size-full);
            height: 100%;
            object-fit: cover;
            border-radius: inherit;
            z-index: var(--z-below);
            transition: var(--transition-slower);
        }

        &__overlay {
            width: var(--size-full);
            padding: var(--size-2);
            background: var(--gradient-game-slide);
            color: var(--color-white);
            display: flex;
            flex-direction: column;
            gap: var(--size-1);
        }

        &__title {
            font-size: var(--fs-body-large);
            margin-bottom: 0;
        }

        &__title-text,
        &__meta {
            transition:
                opacity var(--transition-base),
                visibility var(--transition-base);
        }

        &__title-text {
            display: block;
            width: var(--size-full);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &__meta {
            display: flex;
            justify-content: space-between;
        }

        &__meta-item {
            @include styles.max-width(styles.$br-lg) {
                font-size: var(--fs-body-small);
            }
            @include styles.max-width(styles.$br-sm) {
                font-size: var(--fs-label-medium);
            }
        }

        @include styles.min-width(styles.$br-sm) {
            @container game-slide (max-width: #{$threshold-compact}) {
                &__title-text,
                &__meta {
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }

        @include styles.max-width(styles.$br-sm) {
            @container game-slide (max-width: #{$threshold-compact-mobile}) {
                &__title-text,
                &__meta {
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }

        @include styles.hover {
            .game-slide__img {
                transform: scale(1.05);
            }
        }
    }
}
