*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    font-family: var(--font-family-primary);
    font-style: var(--fs-body-medium);
    color: var(--color-on-primary);
    background-color: var(--color-bg);
}

img {
    display: block;
    max-width: 100%;
}

button,
input,
textarea,
select {
    font: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}
