@use '@/styles/index' as styles;

@layer components {
    .error-banner {
        @include styles.feedback-item;
        border: var(--border-width-medium) solid var(--color-error);
        background-color: var(--color-surface-low);
        color: var(--color-error);
        &__message {
            color: var(--color-on-bg);
        }
        &__retry {
            margin-top: var(--size-1);
        }
    }
}
